@use '../../styles/common'as v;

.button {
    height: 2.5rem;
    width: fit-content;
    user-select: none;
    padding: 0 10px;

    color: #fff;
    font-size: 15px;
    font-weight: 600;
    font-size: 22px;

    border: none;
    border-radius: 4px;
    cursor: pointer;

    background: linear-gradient(to left, v.getColor("darkBlue") 50%, v.getColor("lightYellow") 50%) right;
    background-size: 200%;
    transition: .5s ease-out;

    &:active {
        animation: forwards shake;
        background-position: left;
    }

    @keyframes shake {
        from {
            transform: rotateZ(-5deg);
        }

        to {
            transform: rotateZ(5deg);
        }
    }
}