@use '../../styles/common'as v;

.text {
  display: inline-block;
}

$sizes: ("h1": 2rem,
  "h2":1.5rem,
  "h3":1.7rem,
  "h4":1rem,
  "h5":.83rem,
  "h6":.67rem);


@each $item,
$size in $sizes {
  .text--#{$item} {
    font-size: $size;
  }
}

@for $i from 1 through 7 {
  .weight--#{$i * 100} {
    font-weight: #{$i * 100};
  }
}

@each $item,
$color in v.$colors {
  .text--#{$item} {
    color: $color;
  }
}

@for $i from 1 through 200 {
  .text--#{$i} {
    font-size: #{$i / 16}rem;
  }
}