@use "sass:map";

$colors: ("black": #333333,
    "salmon":#fa8072,
    "veryLightBlue": #add8e6,
    "lightBlue": #4D96FF,
    "darkBlue": #446df6,
    "lightGreen": #aceca1,
    "darkGreen": #6BCB77,
    "lightGray": #efefef,
    "darkGray": #c2c2c2,
    "lightViolet": #ac87fe,
    "lightYellow": #fbf34c,
    "darkYellow": #FFD93D,
    "lightRed": #FF6B6B);

@function getColor($color) {
    @return map.get($colors, $color)
}

.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}