@use "sass:map";

$colors: ("black": #333333,
    "white":#ffffff,
    "white2":#e2e8f0,
    "salmon":#fa8072,
    "veryLightBlue": #add8e6,
    "lightBlue": #4D96FF,
    "darkBlue": #446df6,
    "lightGreen": #aceca1,
    "darkGreen": #6BCB77,
    "lightGray": #efefef,
    "darkGray": #c2c2c2,
    "veryDarkGray":#999999,
    "lightViolet": #ac87fe,
    "darkYellow": #FFD93D,
    "lightYellow": #fbf34c,
    "lightRed": #FF6B6B,
    "razorBlue":#4a5568);

@function getColor($color) {
    @return map.get($colors, $color);
}

.mh-auto {
    margin-left: auto;
    margin-right: auto;
}

.d-flex {
    display: flex;
}

.d-in-flex {
    display: inline-flex;
}

.column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.h-100vh {
    height: 100vh;
}

.w-pct-80 {
    width: 80%;
}

.p-absolute {
    position: absolute;
}

.p-relative {
    position: relative;
}

.flex-wrap {
    flex-wrap: wrap;
}

.pos-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@each $item,
$color in $colors {
    .svg-color-#{$item} {
        fill: $color;
        stroke: $color;
    }
}


@for $i from 1 through 1000 {
    .gap-#{$i} {
        gap: #{$i / 16}rem;
    }

    .mb-#{$i} {
        margin-bottom: #{$i/16}rem;
    }

    .mt-#{$i} {
        margin-top: #{$i/16}rem;
    }

    .w-#{$i}px {
        width: #{$i}px;
    }

    .h-#{$i}px {
        height: #{$i/16}rem;
    }

    .w-#{$i}pct {
        width: #{$i + 0%};
    }

    .h-#{$i}pct {
        height: #{$i + 0%};
    }

    .t-#{$i} {
        top: #{$i / 16}rem;
    }

    .l-#{$i} {
        left: #{$i / 16}rem;
    }

    .r-#{$i} {
        right: #{$i / 16}rem;
    }

    .b-#{$i} {
        bottom: #{$i / 16}rem;
    }
}