$medium:576px;
$large:1024px;

.container-md {
    width: 540px;
}

.container-lg {
    width: 1024px;
}


@media (max-width:$large) {
    .container-lg {
        max-width: 100%;
    }
}

@media (max-width:$medium) {
    .container-md {
        max-width: 100%;
    }
}