@use "../styles/common"as v;

.top-container {
    position: relative;

    .waving-hand {
        cursor: pointer;

        &:hover {
            animation: waving 1.2s forwards;
        }

        @keyframes waving {
            0% {
                transform: scale(1) rotateZ(0deg);
            }

            25% {
                transform: scale(1.2) rotateZ(-20deg);
            }

            50% {
                transform: scale(1.2) rotateZ(20deg);
            }

            75% {
                transform: scale(1.2) rotateZ(-20deg);
            }

            100% {
                transform: scale(1) rotateZ(0deg);
            }

        }
    }

    .href-link {
        &:active {
            color: v.getColor("lightRed")
        }

        &:visited {
            color: v.getColor("lightRed")
        }
    }

    .social-links {
        p {
            display: inline-block;
            text-decoration: underline;
            text-underline-offset: 5px;
            text-transform: capitalize;
            margin: auto 0;
            cursor: pointer;

            a {
                color: v.getColor("darkGray");
            }
        }

        svg {
            user-select: none;
            fill: v.getColor("darkGray");
            width: 50px;
            height: 50px;
            transition: .2s;
        }

        svg:hover {
            transform: scale(1.1);
            fill: v.getColor("white2");
        }
    }
}

.moveUpDown {
    // overflow-x: hidden;
    animation: 20s ease-in-out 0s infinite alternate none moveUpDown;

    @keyframes moveUpDown {
        0% {
            transform: translateY(0px);
        }

        100% {
            transform: translateY(100px);
        }
    }
}