@import "../../../../styles/common.scss";

.social-links {
    p {
        text-decoration: underline;
        text-underline-offset: 5px;
        text-transform: capitalize;
        margin: auto 0;
        transition: .2s;
        cursor: pointer;

        a {
            color: $darkGray;
        }

        &:hover {
            transform: scale(1.1);
            color: $white2;
        }
    }

    svg {
        cursor: pointer;
        user-select: none;
        fill: $darkGray;
        width: 50px;
        height: 50px;
        transition: .2s;
    }

    svg:hover {
        transform: scale(1.1);
        fill: $white2;
    }
}

// .top-container {
//     position: relative;

//     .about-wrapper {
//         p {
//             text-align: justify;
//         }
//     }

//     .waving-hand {
//         cursor: pointer;

//         &:hover {
//             animation: waving 1.2s forwards;
//         }

//         @keyframes waving {
//             0% {
//                 transform: scale(1) rotateZ(0deg);
//             }

//             25% {
//                 transform: scale(1.2) rotateZ(-20deg);
//             }

//             50% {
//                 transform: scale(1.2) rotateZ(20deg);
//             }

//             75% {
//                 transform: scale(1.2) rotateZ(-20deg);
//             }

//             100% {
//                 transform: scale(1) rotateZ(0deg);
//             }

//         }
//     }

//     .href-link {
//         &:active {
//             color: $lightRed
//         }

//         &:visited {
//             color: $lightRed
//         }
//     }


// }