@use '../../styles/common'as v;

.form {
    .input {
        background: rgba($color: v.getColor("white2"), $alpha: .2);
        border-radius: 0px;
        border: none;
        color: v.getColor('lightGray');
        width: 70%;
    }
}